* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;
}

.contenedor {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

    .contenedor h2 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 12px;
    }

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 12px;
}

footer {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 15px;
}

    footer p {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.72);
    }

h1 {
    font-size: 26px;
    font-weight: 600;
}

.seccion {
    margin-bottom: 30px;
}

    .seccion h2 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 12px;
    }

.tarjeta_ejercicio {
    background-color: #212020;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    color: #ffffff;
    transition: background 0.3s;
}

.contenido_tarjeta {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

    .contenido_tarjeta span {
        font-weight: 500;
        font-size: 20px;
    }

    .contenido_tarjeta p {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.72);
        margin-top: 4px;
        margin-right: 7.5px;
    }

.tarjeta_noticia {
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
    color: #ffffff;
}

.noticia_contenido {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

    .noticia_contenido span {
        font-weight: 500;
        font-size: 20px;
    }

    .noticia_contenido p {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.72);
        margin-top: 4px;
        margin-right: 20px;
    }

.info_noticia {
    display: flex;
    flex-direction: column;
}

.info_ejercicio {
    display: flex;
    flex-direction: column;
}

.ejercicio_alt {
    margin-top: 14px;
    padding-top: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
}

    .ejercicio_alt span {
        font-weight: 500;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.85);
    }

    .ejercicio_alt p {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.72);
        margin-top: 4px;
        margin-right: 7.5px;
    }

.selector_rutina{
    margin-bottom: 25px;
    padding: 20px;
    background: #212020;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 18px;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);
}

.selector_orden {
    margin-bottom: 25px;
    padding: 20px;
    background: #212020;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 18px;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);
}

.selector_dia {
    margin-bottom: 25px;
    padding: 20px;
    background: #212020;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 18px;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);
}

.contenedor_dia h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}


.bg_verde {
    background-image: url(../../assets/img/tarjetas/pecho_card_bg.png);
    background-repeat: no-repeat;
}

.bg_azul {
    background-image: url(../../assets/img/tarjetas/brazo_card_bg.png);
    background-repeat: no-repeat;
}

.bg_rojo {
    background-image: url(../../assets/img/tarjetas/antebrazo_card_bg.png);
    background-repeat: no-repeat;
}

.bg_lila {
    background-image: url(../../assets/img/tarjetas/espalda_card_bg.png);
    background-repeat: no-repeat;
}

.bg_amarillo {
    background-image: url(../../assets/img/tarjetas/calentamiento_card_bg.png);
    background-repeat: no-repeat;
}

.bg_naranja {
    background-image: url(../../assets/img/tarjetas/pierna_card_bg.png);
    background-repeat: no-repeat;
}

.bg_advertencia_dia {
    background-image: url(../../assets/img/tarjetas/advertencia_dia_card_bg.png);
    background-repeat: no-repeat;
}

.bg_noticia_default {
    background-image: url(../../assets/img/tarjetas/noticia_card_bg.png);
    background-repeat: no-repeat;
}

@media (max-width: 480px) {
    .contenedor {
        padding: 30px;
    }

    .tarjeta_ejercicio {
        width: 100%;
        max-width: 100%;
    }

    .selector_rutina {
        gap: 15px;
        font-size: 18px;
        padding: 15px;
    }

    .selector_orden {
        gap: 15px;
        font-size: 15px;
        padding: 15px;
    }
}
